
@media only screen and (min-width: 599px) {
  .grid-container{
    display: grid;
    grid-template-rows: 700px repeat(9,500px) 50px;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    grid-gap: 2px;
  }
  .t0{
    grid-column:1/-1;
    grid-row: 1 / 2;
}
  .t1,.t2,.t3{
      grid-row: 2 / 3;
  }

  .t4,.t6,.t19{
      grid-column:1/3;
  }
  .t12,.t14,.t16,.t18{
      grid-column:2/4;
  }
  .t21{
      grid-column:1/-1;
  }
  .t-all-inner iframe{
    width: 750px;
    height: 500px;
}
}
html {
    scroll-behavior: smooth;
  }
body{
    min-width: 700px;
    text-align: center;
}
h1{
    font-size: 8em;
}
.t0 a{
  color: #fff;
  font-size: 50px;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.t0 a:hover{
  margin-bottom: -40px;
  font-size: 80px;
}
.t0{
  text-align: center;
}
.t0-inner>p{
    padding: 100px;
    padding-bottom: 200px;
    font-size: 20px;
}
.t-all-inner{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.container{
    padding: 0px 0px 0px 0px;
}
.t0-inner{
    height: 700px;
    background-image:url("./images/topRowBack.png" );
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.t-all-inner{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}
  /*****Overlapping line*****/
  .line-right{
        border:solid #fff;
        border-width: 0px 80px 0px 0px;
        height: 2px;
        text-align: right;  
        margin-right: -40px;
        z-index: 555;
        transition: all 0.3s;
  }

  .line-left{
    border:solid #fff;
    border-width: 0px 0px 0px 80px;
    height: 2px;
    text-align: left; 
    margin-left:-40px;
    z-index: 2; 
    transition: all 0.3s;
  }
  .line-right:hover{
    margin-right: 0px;
    border-width: 0px 40px 0px 0px;
    border-color:#212529;
  }
  .line-left:hover{
    margin-left:0px;
    border-width: 0px 0px 0px 40px;
    border-color:#212529;
  }
 /*****Overlapping line*****/
  hr{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
  }
  
  .hr-lift{
    margin-top: -15%;
    margin-bottom:50px;
}
.over-lap{
    padding: 10px;
    margin-top: -15%;
}
.just-end{
    display: grid;
    justify-content: end;
    align-content: center;
}
.just-start{
    display: grid;
    justify-content: start;
    align-content: center;
}
.just-center{
    display: grid;
    justify-content: center;
    align-content: center;
}
/**********Flip box**********/
.flip-box {
    background-color: transparent;
    width: 380px;
    height: 500px;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  .rotate180{
    transform: rotateY(180deg);
  }
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-box-back img,.flip-box-back h3,.flip-box-back p{
    padding: 15px;
  }
  .flip-box-front img {
    width: 380px;
    height: 500px;
    object-fit: cover;
    
  }
 
  .flip-box-back {
    color: #212529;
    transform: rotateY(180deg);
    padding: 1em;
  }
  /**********Flip box end**********/
  .t4,.t5{
    background-color: #D8CFC6;
    color:#fff;
  }
  .t11,.t12{
      background-color: #E4C4BB;
  }
  #cursor{
    font-size: 30px;
    }
  .t4 hr{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
  }
  .t6{
    background-image:url("./images/coffee.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% auto;
  }
  .t14{
    
  }
  .t18{
    background-image:url("./images/whiteWall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
  .t19{
    background-image:url("./images/bridgeBlue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
  @media only screen and (max-width: 600px) {
    /* .grid-container,.t0,.t1,.t2,.t3,.t4,.t5,.t6,.t7,.t8,.t9,.t10,.t11,.t12,.t13,.t14,.t15,.t16,.t17,.t18,.t19,.t20,.t21,.grid-container h2,.grid-container hr,.t-all-inner p{
      display: none;
    } */
    .t3,.t10,.t13{
      display: none;
    }
    .t-all-inner{
      width: 100%;
      height: 100%;
      /* background-color: sienna; */
      display: grid;
      justify-content: center;
      align-content: center;
  }
    .grid-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 700px repeat(9,500px) 50px;
      grid-template-areas:
      "t0 t0"
      "t1 t2"
      "t4 t5"
      "t6 t7"
      "t8 t9"
      "t11 t12"
      "t14 t14"
      "t15 t16"
      "t17 t18"
      "t19 t20"
      "t21 t21";
      grid-gap: 0px;
    }
    .t0{grid-area: t0;}
    .t1{grid-area: t1;}
    .t2{grid-area: t2;}
    .t3{grid-area: t3;}
    .t4{grid-area: t4;}
    .t5{grid-area: t5;}
    .t6{grid-area: t6;}
    .t7{grid-area: t7;}
    .t8{grid-area: t8;}
    .t9{grid-area: t9;}
    .t10{grid-area: t10;}
    .t11{grid-area: t11;}
    .t12{grid-area: t12;}
    .t13{grid-area: t13;}
    .t14{grid-area: t14;}
    .t15{grid-area: t15;}
    .t16{grid-area: t16;}
    .t17{grid-area: t17;}
    .t18{grid-area: t18;}
    .t19{grid-area: t19;}
    .t20{grid-area: t20;}
    .t21{grid-area: t21;}
  }
  /******Media Query End******/
  .t10 a{
    text-decoration: none;
    color: black;
  }
  .fas,.fa {
    font-size: 100px;
  }
  .t5 .flip-box-back,.t11 .flip-box-back,.t3 .flip-box-back{
    text-align: center;
    padding: 50px;
  }
  /****Registration Form****/
  form {
    opacity: 0.8;
    width: 100%;
    height:500px;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 92px 80px 92px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }
  label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #E4C4BB;
    transition: ease .6s;
  }
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: #E4C4BB;
    color: #ffffff;
  }
  .t18 .t-all-inner{
    background-color: rgba(0,0,0,0.2);
    width: 50%;
    float: right;
    display: none;
  }
  .t6 .t-all-inner{
    background-color: rgba(255,255,255,0.6);
    width: 50%;
    display: none;
  }
  .slide-in-div{
    text-align: left;
    padding: 2em;
    color:#212529;
  }
  .page h1{
    font-size: 3em;
    padding: 50px;
  }
  .page p{
    padding: 0px 150px 150px 150px;
  }